In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                  'Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                  '12. Air France', '"Swiss Air"']})

In [3]:
# 1.Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column

In [4]:
df['FlightNumber'].loc[1] = (df['FlightNumber'].iloc[0] + 10)
df['FlightNumber'].loc[3] = (df['FlightNumber'].iloc[2] + 10)
df['FlightNumber'] = df['FlightNumber'].astype(int)

C:\Users\jagrutip\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
print(df['FlightNumber'])

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int32

In [6]:
#2.The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values.Assign the correct column names to this temporary DataFrame.

In [7]:
tDF = pd.DataFrame(df.From_To)
tDF['From'] = tDF.From_To.str.split('_').str.get(0)
tDF['To'] = tDF.From_To.str.split('_').str.get(1)
tDF = tDF.drop('From_To', 1)

In [8]:
#3.Standardise the strings in the temporary DataFrame, so that only the first letter is uppercase.

In [9]:
tDF['From'] = tDF.From.str.title()
tDF['To'] = tDF.To.str.title()

In [10]:
print(tDF['From'])

0      London
1      Madrid
2      London
3    Budapest
4    Brussels
Name: From, dtype: object

In [11]:
print(tDF['To'])

0        Paris
1        Milan
2    Stockholm
3        Paris
4       London
Name: To, dtype: object

In [12]:
#4.Delete the From_To column from df, and attach the temporary DataFrame from the previous questions.

In [13]:
df = df.drop('From_To', 1)
df = pd.concat([tDF,df], axis = 1)

In [14]:
# 5.Expand the series of delays into a DataFrame named "delays". Each delay value should be in its own column. Missing values should be NaN. Rename the columns: delay_1, delay_2, etc. Replace RecentDelays with this DataFrame.

In [15]:
tDelay = pd.DataFrame(df.RecentDelays)
tDelay = pd.DataFrame(df['RecentDelays'].values.tolist())
tDelay.columns = ['Delay_1', 'Delay_2', 'Delay_3']
df = df.drop('RecentDelays', 1)
df.insert(3, "Delay_1", tDelay['Delay_1'])
df.insert(4, "Delay_2", tDelay['Delay_2'])
df.insert(5, "Delay_3", tDelay['Delay_3'])

In [16]:
print(df)

       From         To              Airline  Delay_1  Delay_2  Delay_3  \
0    London      Paris               KLM(!)     23.0     47.0      NaN
1    Madrid      Milan    <Air France> (12)      NaN      NaN      NaN
2    London  Stockholm  (British Airways. )     24.0     43.0     87.0
3  Budapest      Paris       12. Air France     13.0      NaN      NaN
4  Brussels     London          "Swiss Air"     67.0     32.0      NaN

   FlightNumber
0         10045
1         10055
2         10065
3         10075
4         10085